body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header {
    background-color: #4682b4;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
    color: white;
    padding-left: 30px;
    font-size: 40px;
    font-weight: bold;
}
.links {
    flex: 1;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
    padding: 8px 30px;
    font-size: 24px;
}
.header-links {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
    padding: 0;
    
}
.first {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    margin: 0;
    padding: 0;
    gap: 15px;
    background: #4682b4;
}
.image img{
    width: 380px;
}
.info h2 {
    color: white;
    font-size: 34px;
}
.info p {
    color: darkgray;
}
.info button {
    background: #0033ff;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
    font-size: 20px;
}
.second {
    display: flex;
    flex-direction: column;
    height: 420px;
    padding-bottom: 100px;
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.card img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 3px solid dodgerblue;
}
.card {
    width: 150px;
    height: 150px;
}

.secondtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    padding: 80px;
}

.third {
    height: 420px;
    background: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 80px;
}
.box {
    background: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    border-radius: 12px;
}
.fourthtext h3 {
    color: white;
    margin-bottom: 0;
    padding-bottom: 0px;
    font-size: 25px;
    padding: 20px 70px;
}
.fourthtext p {
    color: white;
    margin-top: 0;
    padding: 20px 70px;
    padding-top: 0px;
}
.fourthtext {
    flex: 2;
}
.box button {
    background-color: dodgerblue;
    padding: 5px 30px;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}
.footer {
    background: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 40px;
}

