body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header {
    background-color: #4682b4;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.logo {
    display: flex;
    align-items: center;
    flex: 1;
    color: white;
    padding-left: 30px;
    font-size: 40px;
    font-weight: bold;
}
.links {
    flex: 1;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
    padding: 8px 30px;
    font-size: 24px;
}
.header-links {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
    padding: 0;
    
}
.first {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    margin: 0;
    padding: 0;
    gap: 15px;
    background: #4682b4;
}
.image img{
    width: 380px;
}
.info h2 {
    color: white;
    font-size: 34px;
}
.info p {
    color: darkgray;
}
.info button {
    background: #0033ff;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
    font-size: 20px;
}